Source: ros-groovy-jsk-pcl-ros
Section: misc
Priority: extra
Maintainer: Youhei Kakiuchi <youhei@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, ros-groovy-dynamic-reconfigure, ros-groovy-eigen-conversions, ros-groovy-geometry-msgs, ros-groovy-image-geometry, ros-groovy-image-transport, ros-groovy-image-view2, ros-groovy-message-generation, ros-groovy-nodelet, ros-groovy-opencv2, ros-groovy-pcl, ros-groovy-pcl-conversions, ros-groovy-pcl-msgs, ros-groovy-pcl-ros, ros-groovy-sensor-msgs, ros-groovy-std-msgs, ros-groovy-std-srvs, ros-groovy-stereo-msgs, ros-groovy-tf, ros-groovy-tf-conversions, ros-groovy-tf2-ros
Homepage: http://ros.org/wiki/jsk_pcl_ros
Standards-Version: 3.9.2

Package: ros-groovy-jsk-pcl-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-dynamic-reconfigure, ros-groovy-eigen-conversions, ros-groovy-geometry-msgs, ros-groovy-image-geometry, ros-groovy-image-transport, ros-groovy-image-view2, ros-groovy-message-runtime, ros-groovy-nodelet, ros-groovy-opencv2, ros-groovy-pcl, ros-groovy-pcl-conversions, ros-groovy-pcl-msgs, ros-groovy-pcl-ros, ros-groovy-sensor-msgs, ros-groovy-std-msgs, ros-groovy-std-srvs, ros-groovy-stereo-msgs, ros-groovy-tf, ros-groovy-tf-conversions, ros-groovy-tf2-ros
Description: jsk_pcl_ros
